@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

body {
  height: 100vh;
  background-image: url(../images/rj.jpg);
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  font-family: "Roboto", sans-serif;
  color: #2c2c2c;
}

main {
  width: 700px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 12px;
}

h2 {
  font-size: 18px;
  font-weight: bold;
}

.contact {
  width: 250px;
  background-color: #fffefe80;

  border-radius: 10px;
  padding: 10px 0 10px 20px;
}

.contact img {
  height: 100px;
  width: 100px;

  object-fit: cover;
  object-position: top;

  border-radius: 0 50% 50% 0;
  margin-bottom: 10px;
}

.info-container {
  display: flex;
  gap: 5px;

  margin-top: 5px;
}

.info-container img {
  width: 20px;
  height: 20px;

  margin-top: 3px;
}

.info {
  display: flex;
  flex-direction: column;
}

.info .title {
  font-weight: 400;
  font-size: 15px;
}

.info p {
  margin: 3px;
  font-size: 12px;
  /* border: 1px solid black; */
}

.info p span {
  border: 1px dashed black;
  border-radius: 5px;
  color: green;
  font-weight: bold;
}

.form-section {
  width: 250px;
  background-color: #f0f0f0;

  display: flex;
  flex-direction: column;
  gap: 10px;

  border: 1px solid #808080;
  border-radius: 10px;
  padding: 20px;
}

.form-section form {
  height: 200px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

input,
textarea {
  border: 1px solid #27272755;
  border-radius: 3px;
  font-size: 12px;
  padding: 7px;
}

textarea {
  height: 50px;
}

.form-section form button {
  width: fit-content;
  background-color: #005624cf;
  color: #fff;

  border: 1px solid transparent;
  border-radius: 5px;

  padding: 5px 10px;
}
